<footer class="footer-dark" style="height: 164px;">
    <div class="container">
        <div class="row">
            <div class="col item social" style="margin: -4px 0px 0px;"><a href="https://www.linkedin.com/in/mahesan-p-43929a1a2/"><i class="icon ion-social-linkedin"></i></a><a href="https://twitter.com/kingmahesan"><i class="icon ion-social-twitter"></i></a><a href="https://github.com/mahesanp"><i class="icon ion-social-github"></i></a><a href="https://www.instagram.com/__boy_of_awesomeness__/"><i class="icon ion-social-instagram"></i></a></div>
        </div>
        <p class="copyright" style="color: rgb(240,249,255);margin: 3px 0px 0px;">Copyright&nbsp;©&nbsp;Mahesan's Blog 2021</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/clean-blog.js"></script>
</body>

</html>
