<%- include("partials/header") -%>

    <header class="masthead" style="background-image:url('assets/img/about-bg.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto position-relative">
                    <div class="site-heading">
                        <h1>About Me</h1><span class="subheading">This is what I do</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <p>I'm a sophomore Computer Science student in Bannari Amman Institute of Technology. And I have started this blog site just to share my experience in Tech Journey and to update some cool tech news.&nbsp;<br></p>
                <p>I have a great passion in tech since my childhood. I build things just for sheer fun, and that includes this site. For people out there who can talk geeky, head on to the contact me page to connect with me.<br></p>
                <p>I'm also indolent, so people trying to contact me for work, save yourself some time.<br></p>
                <p>And for the people out there who strive to achieve something, just keep going. <strong>The journey is better than the destination.</strong><br></p>
            </div>
        </div>
    </div>
    <footer class="footer-dark" style="height: 164px;">
        <div class="container">
            <div class="row">
                <div class="col item social" style="margin: -4px 0px 0px;"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-github"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright" style="color: rgb(240,249,255);margin: 3px 0px 0px;">Copyright&nbsp;©&nbsp;Mahesan's Blog 2021</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/clean-blog.js"></script>
</body>

</html>
