<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Covendure</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-brand">MAHESAN BLOG</p>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <!-- 6 -->
                <li id="home"><a href="/">HOME</a></li>
                <li id="about"><a href="/about">ABOUT US</a></li>
                <li id="contact"><a href="/contact">CONTACT US</a></li>
            </ul>
        </div>
    </nav>

<body>
    <div class="container">
        <h1>Login</h1>
        <form class="" action="/login" method="post">
            <div class="form-group">
                <!-- <label class="form-label">Enter Password to Update Details</label> -->
                <p>Enter Password</p>
                <input class="" type="password" name="password" required>
            </div>
            <button class="btn btn-primary" type="submit" name="button">Login</button>

        </form>

    </div>
    <div class="footer-padding"></div>
    <div class="footer">
        <p style="font-size:15px">©MAHESAN BLOG</p>
    </div>
</body>

</html>
